source/modbus-video-flow1.txt
[{"id":"731de46a.7645fc","type":"tab","label":"Modbus -video Flow 1","disabled":false,"info":""},{"id":"cf2145fe.77fbf","type":"inject","z":"731de46a.7645fc","name":"Read 16bit Integer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["6c77da4a.e908b4","97cea9e.2f7c2d8"]]},{"id":"97cea9e.2f7c2d8","type":"function","z":"731de46a.7645fc","name":"","func":"var fc=3;\nvar sa=0;\nvar addresses=1;\n//var slave_ip=msg.payload.slave_ip;\n//msg.slave_ip=\"192.168.1.31\";\nmsg.payload={value: msg.payload, 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["409e22ed.adb1d4"]]},{"id":"409e22ed.adb1d4","type":"modbus-flex-getter","z":"731de46a.7645fc","name":"local getter Flex","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":360,"y":140,"wires":[[],["a067fb1d.a06cd8","3ffc5f1d.0128c"]]},{"id":"6c77da4a.e908b4","type":"modbus-getter","z":"731de46a.7645fc","name":"Holding register","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":360,"y":300,"wires":[[],["520526c9.6cdd3"]]},{"id":"a067fb1d.a06cd8","type":"function","z":"731de46a.7645fc","name":"","func":"const buf= Buffer.from(msg.payload.buffer)\n//const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readUInt16BE();\nmsg.value = value;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["aa2ba76.1d72fd8"]]},{"id":"520526c9.6cdd3","type":"modbus-response","z":"731de46a.7645fc","name":"","registerShowMax":20,"x":550,"y":360,"wires":[]},{"id":"3ffc5f1d.0128c","type":"modbus-response","z":"731de46a.7645fc","name":"","registerShowMax":20,"x":550,"y":80,"wires":[]},{"id":"aa2ba76.1d72fd8","type":"debug","z":"731de46a.7645fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":180,"wires":[]},{"id":"ad528539.ccb86","type":"modbus-getter","z":"731de46a.7645fc","name":"Coils","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"6","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":270,"y":620,"wires":[[],["18af1499.c68603","20f1025a.d9893e"]]},{"id":"18af1499.c68603","type":"modbus-response","z":"731de46a.7645fc","name":"","registerShowMax":20,"x":570,"y":700,"wires":[]},{"id":"ef043d4f.7959","type":"inject","z":"731de46a.7645fc","name":"Read coils","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["ad528539.ccb86"]]},{"id":"20f1025a.d9893e","type":"function","z":"731de46a.7645fc","name":"Process data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":640,"wires":[[]]},{"id":"133ebf4f.3e9409","type":"inject","z":"731de46a.7645fc","name":"Read multiple","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["f1e84475.ab3838"]]},{"id":"f1e84475.ab3838","type":"modbus-getter","z":"731de46a.7645fc","name":"Read multiple","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":350,"y":460,"wires":[[],["f9357b62.4bd2d"]]},{"id":"f9357b62.4bd2d","type":"modbus-response","z":"731de46a.7645fc","name":"","registerShowMax":20,"x":590,"y":520,"wires":[]},{"id":"dfed358e.ff2698","type":"modbus-read","z":"731de46a.7645fc","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":20,"wires":[[],["b7a929bc.2c2298"]]},{"id":"b7a929bc.2c2298","type":"debug","z":"731de46a.7645fc","name":"Modbus Read","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":40,"wires":[]},{"id":"54dde46e.53267c","type":"modbus-client","z":"","name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.1.31","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]